/* Table Css*/
.ag-theme-balham {
	font-family: "Poppins" !important;
	font-size: 0.813rem !important;
	border: 0px !important;
}
.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	color: #44677b !important;
	font-family: "Poppins" !important;
	font-size: 0.813rem;
	text-align: center;
}

.ag-theme-balham .ag-header-row {
	border: none;
	background-color: #ecf0f2 !important;
}

/* .ag-theme-balham .ag-row:not(.ag-row-first) {
	border-width: 1px 0 0;
	background-color: white;
	font-size: 0.813rem;
} */

.ag-theme-balham .ag-root {
	/* border: none !important; */
	box-shadow: none !important;
}

.ag-theme-balham .ag-status-bar {
	border: none !important;
}

.ag-theme-balham .ag-header-group-cell-label span {
	font-weight: bold;
	font-family: "Poppins" !important;
	color: #44677b;
	font-size: 0.813rem;
}

.ag-theme-balham .ag-header-cell,
.ag-theme-balham .ag-header-group-cell {
	border: 1px solid #f4f4f4;
}

.ag-theme-balham .ag-ltr .ag-cell {
	border-right: 1px solid lightgray !important;
}
/* Modal*/
.modal-content {
	width: 110%;
}

.color-blue {
	color: #44677b;
}
.font-size-14 {
	font-size: 0.875rem;
}
.font-bold {
	font-weight: 800;
}
